@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,400,700,300|Roboto:400,700,500,300,900');

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome.otf') format("opentype");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format("truetype");
}

.chooselevel {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 930px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(42, 44, 47, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.chooselevel .elementskeletonbanners {
  background-color    : rgba(255,255,255,0.0);
  top                 : -6px;
  height              : 937px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 934px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 937px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .rectangle2 {
  background-color    : rgba(20, 21, 23, 1.0);
  top                 : 887px;
  height              : 50px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(51, 52, 55, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .rectangle21 {
  background-color    : rgba(20, 21, 23, 1.0);
  top                 : 0px;
  height              : 49px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(51, 52, 55, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .getstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 905px;
  height              : auto;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 1331px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(249, 142, 0, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.chooselevel .elementskeletonbanners .skeletonelements .aboutskilldar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 905px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(0, 152, 62, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.chooselevel .elementskeletonbanners .skeletonelements .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 903px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(145, 146, 149, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.chooselevel .elementskeletonbanners .skeletonelements .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 903px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(145, 146, 149, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsskilldarlogin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1398px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsskilldarlogin .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsskilldarlogin .signinfontawesome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.chooselevel .elementskeletonbanners .skeletonelements .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1349px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(80, 120, 191, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsfacebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsfacebook .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsfacebook .twitter16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsfacebook .twitter16 .rectangle {
  background-color    : rgba(141, 141, 142, 1.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsfacebook .twitter16 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 11px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsinstagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsinstagram .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsinstagram .instagramfontawesome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .browseskills {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 20px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsskilldarhashtag {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsskilldarhashtag .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementskeletonbanners .skeletonelements .iconsskilldarhashtag .uf292 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
  font-family         : "FontAwesome", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(237, 22, 55, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.chooselevel .backgroundupperlvl1440x845 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 841px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 839px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 841px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 838px;
  height              : 3px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .rectangle3 {
  background-color    : rgba(176, 179, 181, 0.84);
  top                 : 3px;
  height              : 835px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .rectangle3copy {
  background-color    : rgba(239, 243, 245, 0.85);
  top                 : 13px;
  height              : 814px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .rectangle3copy2 {
  background-color    : rgba(239, 242, 245, 1.0);
  top                 : 43px;
  height              : 754px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .logoskilldarradardark {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : 147px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 652px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .logoskilldarradardark .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 147px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .logoskilldarradardark .lighthorizontalv32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 129px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .loginbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 769px;
  height              : 59px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 635px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .loginbutton .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .loginbutton .loginbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .loginbutton .loginbutton1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .loginbutton .loginbutton1 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .loginbutton .loginbutton1 .play {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(1deg); /* IE 9 */
  -webkit-transform   : rotate(1deg); /* Chrome, Safari, Opera */
  transform           : rotate(1deg);
  opacity             : 0.9;
}
.chooselevel .loginbutton .loginbutton1 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(239, 242, 245, 1.0);
  text-align          : right;
  letter-spacing      : 1.53px;
  line-height         : 23.0px;
}
.chooselevel .elementlevelbrickactive {
  background-color    : rgba(255,255,255,0.0);
  top                 : 403px;
  height              : 340px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 734px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 338px;
  width               : 203px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .palettesred {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .divider {
  background-color    : rgba(255,255,255,0.0);
  top                 : 133px;
  height              : 5px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .divider .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 204px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a4thline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a4thline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a4thline .fontssourcesemiboldwh12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(42, 44, 47, 1.0);
  text-align          : center;
  letter-spacing      : 1.75px;
  line-height         : 15.0px;
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a2ndline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a2ndline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a2ndline .fontssourcesemiboldwh12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(42, 44, 47, 1.0);
  text-align          : center;
  letter-spacing      : 1.75px;
  line-height         : 15.0px;
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a1stline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 34px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a1stline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .a1stline .fontssourcesemiboldwh12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(42, 44, 47, 1.0);
  text-align          : center;
  letter-spacing      : 1.75px;
  line-height         : 15.0px;
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 23px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .title .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .title .fontssourceboldbl18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(42, 44, 47, 1.0);
  text-align          : center;
  letter-spacing      : 1.6px;
  line-height         : 23.0px;
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .icaonsskilldartitan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 101px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .icaonsskilldartitan .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .icaonsskilldartitan .basic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(41, 44, 47, 1.0);
  text-align          : center;
  letter-spacing      : 1.6px;
  line-height         : 21.0px;
}
.chooselevel .elementlevelbrickactive .elementlevelbrickactive2 .icaonsskilldartitan .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 401px;
  height              : 340px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 338px;
  width               : 203px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .palettesred {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .divider {
  background-color    : rgba(255,255,255,0.0);
  top                 : 133px;
  height              : 5px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .divider .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 204px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a4thline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a4thline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a4thline .fontssourcesemiboldwh12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(238, 243, 245, 1.0);
  text-align          : center;
  letter-spacing      : 1.75px;
  line-height         : 15.0px;
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a2ndline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a2ndline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a2ndline .fontssourcesemiboldwh12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(238, 243, 245, 1.0);
  text-align          : center;
  letter-spacing      : 1.75px;
  line-height         : 15.0px;
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a1stline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 34px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a1stline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .a1stline .fontssourcesemiboldwh12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(238, 243, 245, 1.0);
  text-align          : center;
  letter-spacing      : 1.75px;
  line-height         : 15.0px;
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 23px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .title .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .title .premium {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(238, 243, 245, 1.0);
  text-align          : center;
  letter-spacing      : 1.6px;
  line-height         : 23.0px;
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .icaonsskilldartitan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 101px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .icaonsskilldartitan .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .icaonsskilldartitan .iconsskilldarpremium {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .elementlevelbrickactive1 .elementlevelbrickactive2 .icaonsskilldartitan .iconsskilldarpremium .skau0308rmklipp20180115133046 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 101px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .gobackarrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 455px;
  height              : 21px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 269px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.chooselevel .chooseyouraccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 352px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 588px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(41, 44, 47, 1.0);
  text-align          : justify;
  line-height         : 21.0px;
}
.chooselevel .newprofileline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 308px;
  height              : 20px;
  width               : 571px;
  position            : absolute;
  margin              : 0;
  left                : 421px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 3px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .moduleproglinelvl4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 368px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .moduleproglinelvl4 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 367px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .moduleproglinelvl4 .lvl4completionline1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 367px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl4completionline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl4completionline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 396px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl4completionline .lvl5completionline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 396px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl3completionline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 367px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl3completionline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 366px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl3completionline .lvl3completionline1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 366px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl2completionline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl2completionline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl2completionline .lvl2completionline1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl1completionline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl1completionline .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .moduleproglinecomplete .completionline .lvl1completionline .lvl1completionline1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chooselevel .newprofileline .newprofile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(42, 44, 47, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}