@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,400,700,300|Roboto:400,700,500,300,900');

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome.otf') format("opentype");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format("truetype");
}

.forgottenpasswordsentemail {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 930px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(42, 44, 47, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.forgottenpasswordsentemail .elementskeletonbanners {
  background-color    : rgba(255,255,255,0.0);
  top                 : -6px;
  height              : 937px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 934px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 937px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .rectangle2 {
  background-color    : rgba(20, 21, 23, 1.0);
  top                 : 887px;
  height              : 50px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(51, 52, 55, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .rectangle21 {
  background-color    : rgba(20, 21, 23, 1.0);
  top                 : 0px;
  height              : 49px;
  width               : 1444px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(51, 52, 55, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .getstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 905px;
  height              : auto;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 1331px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(249, 142, 0, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .aboutskilldar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 905px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(0, 152, 62, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 903px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(145, 146, 149, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 903px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(145, 146, 149, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsskilldarlogin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1398px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsskilldarlogin .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsskilldarlogin .signinfontawesome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1349px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(80, 120, 191, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsfacebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsfacebook .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsfacebook .twitter16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsfacebook .twitter16 .rectangle {
  background-color    : rgba(141, 141, 142, 1.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsfacebook .twitter16 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 11px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsinstagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsinstagram .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsinstagram .instagramfontawesome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .browseskills {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 20px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsskilldarhashtag {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsskilldarhashtag .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .elementskeletonbanners .skeletonelements .iconsskilldarhashtag .uf292 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
  font-family         : "FontAwesome", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(237, 22, 55, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 841px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 839px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 841px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 838px;
  height              : 3px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .rectangle3 {
  background-color    : rgba(176, 179, 181, 0.84);
  top                 : 3px;
  height              : 835px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .rectangle3copy {
  background-color    : rgba(239, 243, 245, 0.85);
  top                 : 13px;
  height              : 814px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .rectangle3copy2 {
  background-color    : rgba(239, 242, 245, 1.0);
  top                 : 43px;
  height              : 754px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backgroundupperlvl1440x845 .backgroundupperlvl1440x8451 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 322px;
  height              : 400px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin .container450x400white {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 400px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin .container450x400white .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 400px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin .container450x400white .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 400px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(239, 242, 245, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin .gobacktologin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 213px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SourceSansPro-SemiBold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 152, 62, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.forgottenpasswordsentemail .backtologin .itmighttakeafew {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : auto;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(20, 21, 23, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 16.0px;
}
.forgottenpasswordsentemail .backtologin .tickgreen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin .tickgreen .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .backtologin .tickgreen .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .titleinformation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 221px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 577px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .titleinformation .forgottenpassworde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 178px;
  height              : auto;
  width               : 289px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(20, 21, 23, 1.0);
  text-align          : center;
  letter-spacing      : 1.53px;
  line-height         : 25.0px;
}
.forgottenpasswordsentemail .titleinformation .logoskilldarradardark {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 147px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .titleinformation .logoskilldarradardark .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 147px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.forgottenpasswordsentemail .titleinformation .logoskilldarradardark .lighthorizontalv32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 129px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}