@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,400,700,300|Roboto:400,700,500,300,900');

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome.otf') format("opentype");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format("truetype");
}

.ipasswordregister {
  width               : 100%;
  min-width           : 262px;
  height              : 100vh;
  min-height          : 73px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.ipasswordregister .bubbletxtupsidedown {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 75px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ipasswordregister .bubbletxtupsidedown .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 75px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ipasswordregister .bubbletxtupsidedown .instructionbubbletxtupsidedown {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 73px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.ipasswordregister .bubbletxtupsidedown .iconsexitxwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 10px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ipasswordregister .bubbletxtupsidedown .iconsexitxwhite .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ipasswordregister .bubbletxtupsidedown .iconsexitxwhite .iconsexitxwhite1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ipasswordregister .bubbletxtupsidedown .iconsexitxwhite .iconsexitxwhite1 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 9px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
  opacity             : 0.7;
}
.ipasswordregister .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : 14px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 241px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}