@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,400,700,300|Roboto:400,700,500,300,900');

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome.otf') format("opentype");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format("truetype");
}

.locationdropdown {
  width               : 100%;
  min-width           : 176px;
  height              : 100vh;
  min-height          : 156px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.locationdropdown .menudropdownsettingslocation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 156px;
  width               : 176px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 153px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 156px;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .rectangle5copy {
  background-color    : rgba(19, 21, 24, 1.0);
  top                 : 20px;
  height              : 136px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-radius       : 6px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(176, 179, 181, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : 21px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox .rectangle6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(239, 242, 245, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox .tickwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox .tickwhite .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox .tickwhite .shapecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 21px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox1 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox1 .rectangle6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(239, 242, 245, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox1 .tickwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox1 .tickwhite .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox1 .tickwhite .shapecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 21px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox2 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox2 .rectangle6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(239, 242, 245, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox2 .tickwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox2 .tickwhite .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .emptycheckbox2 .tickwhite .shapecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .a3rdline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 117px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(239, 242, 245, 1.0);
  text-align          : justify;
  line-height         : 15.0px;
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .a2ndline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(239, 242, 245, 1.0);
  text-align          : justify;
  line-height         : 15.0px;
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .a1stline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(239, 242, 245, 1.0);
  text-align          : justify;
  line-height         : 15.0px;
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .rectangle5 {
  background-color    : rgba(47, 50, 54, 1.0);
  top                 : 0px;
  height              : 31px;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(249, 142, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .arrowopendrawersmall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 10px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .arrowopendrawersmall .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .arrowopendrawersmall .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 9px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.locationdropdown .menudropdownsettingslocation .menudropdownsettingslocation1 .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(239, 242, 245, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}